/*

!.gitignore
!AGENTS.md
!install.sh
!mise-config-*.toml
!k9s
!yamllint
!yamlfmt
!nix
!nvim
!wezterm
!aerospace
!starship.toml
!agents
!gemini
!cursor
!opencode/
opencode/*
!opencode/opencode.jsonc
!opencode/tui.json
!opencode/AGENTS.md
!opencode/skills
